body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgray;
}

.anime_img {
    width: 42%;
    height: auto;
    margin-left: 5vw;
    position: relative;
}

.error {
    color:red;
    font-size:2vw;
    position: relative;
    left:2vw;
}
