{% extends "base.html" %}

{% block lab %}ТОП-5 самых стильных персов в магической битве{% endblock %}

{% block main %}
<h2>Тоджи Фушигуро</h2>
<img class="anime_img" src={{ url_for('static', filename='тоджи 1.jpg') }}>
<div style="color: rgb(199, 230, 230)" class="description">
    Тодзи Фусигуро — высокий мускулистый мужчина с прямыми черными волосами средней длины,
    доходящими до ушей. У него зеленые глаза, как и у его сына,
    тонкие черные брови и острый шрам на правой стороне рта, прямо на краю губ.
</div>
<br>
<br>
<br>
<h2 >Годжо Сатору</h2>
<img class="anime_img" src={{ url_for('static', filename='сатору сибуя.PNG') }}>
<div style="color:#87cefa; top: 69vw" class="description">
    Сатору — гордость семьи Годжо, первый человек, унаследовавший как Бесконечность,
     так и Шесть Глаз за четыреста лет. Он работает преподавателем в Токийской школе магии
      и использует своё влияние для защиты и обучения сильных молодых союзников.  
</div>
<br>
<br>
<br>
<h2 >Мегуми Фушигуро</h2>
<img class="anime_img" src={{ url_for('static', filename='мегуми.PNG') }}>
<div style="color:#ac57f0; top: 69vw" class="description">
    Мэгуми Фусигуро — один из центральных персонажей Jujutsu Kaisen. 
    Маг, студент первого года обучения в Столичной технической школе магии,
     а также потомок клана Зенин.
</div>
<br>
<br>
<br>
<h2 >Сугуру Гето</h2>
<img class="anime_img" src={{ url_for('static', filename='Гето.jpg') }}>
<div style="color:#1f0d3f; top: 69vw" class="description">
    Сугуру Гето — антагонист в приквеле Магическая Битва 0 , и лже-антагонист
     в основной серии Магической Битвы.Изначально он был одноклассником 
     Сатору Годжо и Сёко Иэйри и учеником Яги Масамичи . 
     Его опыт шамана породил глубокую ненависть к не-шаманам
</div>
<br>
<br>
<br>
<h2 >Рёмен Сукуна</h2>
<img class="anime_img" src={{ url_for('static', filename='Сукуна.jpg') }}>
<div style="color:#6e0902; top: 69vw" class="description">
    Сильнейший маг тысячелетней давности, считающийся бесспорным Королём Проклятий.
</div>
<br>
<br>
<br>
{% endblock %}
